body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Libre Franklin", sans-serif;
  font-size: 15px;
  background-image: linear-gradient(#eeaeca, #94bbe9);
}

.title {
  margin: 50px 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.converter-box {
  width: 85vw;
  height: 50vh;
  box-shadow: rgb(35 55 80 / 30%) 0px 6px 12px;
  border-radius: 8px;
  background-color: #eeaeca;
}

.result {
  padding: 50px;
}

.row {
  display: flex;
  justify-content: center;
  padding: 50px;
  gap: 10px;
  box-sizing: border-box;
  height: 160px;
}

.switch-button {
  width: 50px;
  height: 43px;
  border-radius: 50%;
  margin-top: 16px;
  border: 2px solid #ccc;
  background-color: white;
}

.switch-button:focus {
  border: 2px solid #0091ea;
}

.result-number {
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
}
